@import "base/variables"
@import "base/keyframes"
@import "libs/animate"
@import "libs/bootstrap-reboot.min"
@import "libs/fonts"
@import "libs/tiny-slider"

*
    font-family: "Museo Sans Cyrl", sans-serif

.container
    position: relative
    max-width: 950px
    margin: 0 auto
.br
    display: none

@import "blocks/promo"
@import "blocks/header"
@import "blocks/buttons"
@import "blocks/benefits"
@import "blocks/titles"
@import "blocks/consultation"
@import "blocks/forms"
@import "blocks/carousel"
@import "blocks/catalog"
@import "blocks/reviews"
@import "blocks/footer"
@import "blocks/modal"
@import "blocks/pageup"
@import "blocks/media"